*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
nav{
    height: 92px;
    width: 100%;
    max-width: 1600px;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: space-around;
}
nav .logo img{
    width: 139px;
}
nav ul{
    display: flex;
}
.nav-bar li{
    list-style: none;
    margin-right: 32px;
    
}
.nav-bar li a{
    text-decoration: none;
    color:#000000;
    font-size: 17px; 
    line-height: 92px;
    transition: 1s ease-in-out;
}
.nav-bar li a:hover{
    font-size: 18px;
    
}
.btn{
    padding: 12px 16px;
    background-color: #30B868;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    transition: 1s ease-in-out;
}
.btn:hover{
    background-color: white;
    border: 1px solid #30B868;
    transform: translateY(-10px);
    color: black;
}
#banner{
    background-image: url(./images/hero-bg.png);
    background-size: cover;
}

.banner-container{
    max-width: 1360px;
    align-items: center;
    text-align: center;
    padding: 150px 345px;
    
}
.banner-btn{
      padding: 8px; 
      border-radius: 50px;  
      border: none;  
      color: #30B868;
      font-weight: 400;
      margin-bottom: 10px;
       
}
.banner-btn i{
    font-size: 16px;
    color: #30B868;
}
.banner-heading{
    line-height: 55px;
    margin-bottom: 15px;
}
.banner-heading h1{
    font-size: 45px;
    color: #ffffff;
}
.banner-heading span{
     font-size: 45px;
    color: #30B868;
    margin-bottom: px;
}
.banner-sub{
    margin-bottom: 30px;
}
.banner-sub p{
    color: white;
    font-size: 15px;
    line-height: 30px;
}
.button{
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 10px;
}
.btn-1{
    padding: 10px 14px;
    background-color: hwb(145 19% 28%);
    color: white;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    transition: 0.5s ease-in-out;
}
.btn-1:hover{
    transform: translateY(-10px);
    color: rgb(255, 255, 255);
    font-size: 14px;
    border: 1px solid rgb(255, 255, 255);
    background: none;

}
 .btn-2{
    background: none;
    padding: 10px 14px;
    color: rgb(255, 255, 255);
    font-size: 14px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 4px;
    transition: 0.5s ease-in-out;
}
.btn-2:hover{
    transform: translateY(-10px);
    background-color: #30B868;
    color: white;
    border: none;
}
.notes-heading{
    text-align: center;
    padding: 70px 160px 24px 160px;
    margin: 0 auto;
}
.notes-heading h1{
    font-size: 37px;
    margin-bottom: 10px;
}
.notes-heading p{
    font-size: 11px;
    color: #757575;
}
.notes-box{
    max-width: 900px;
    margin: 0 auto;
    gap: 20px;
    display: flex;
   justify-content: center;
    
}
.box{
    width: 322px;
    height: 280px;
   text-align: center;
   border-radius: 10px;
    box-shadow: 10px 6px 50px rgba(128, 128, 128, 0.301);
    transition: 0.7s ease-in-out;
}
.box:hover{
    transform: translateY(-10px);
}
.box img{
    background-color: #F95555;
    margin: 69px 116px 6px 116px;
    padding: 12px;
    border-radius: 50%;
    transition: 0.7s ease-in-out;
}
.box img:hover{
    transform: scale(1.1);
    box-shadow: 10px 6px 15px rgba(255, 0, 0, 0.301);
    
}
.box h2{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 16px;
}
.box p{
    font-size: 16px;
    color: #757575;
}
